<!-- 歡迎畫面 -->
  <header class="masthead text-white text-center">
    <div class="jumbotron">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">不用的中古機車該怎麼處理呢？</h1>
          </div>
          <div class="col-xl-9 mx-auto">
            <p>就交給最專業的二手機車收購團隊來處理吧！</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-3 col-xs-4 justify-content-center mx-auto">
            <a id="linebtn" href="https://lin.ee/gwqL36M" type="submit" class="btn btn-block btn-lg ">加入Line</a>
            <a id="phbtn" href="tel:+886-966-747-014" class="btn btn-block btn-lg active" role="button" aria-pressed="true">撥打電話</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- 特色 -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-money-bill-alt fa-5x m-auto text-info"></i>
            </div>
            <h3>價格最合理</h3>
            <p class="lead mb-0">整個估價流程透明不惡意砍價</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-thumbs-up fa-5x m-auto text-info"></i>
            </div>
            <h3>過程最放心</h3>
            <p class="lead mb-0">每個收購步驟都讓您清楚明瞭</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-smile fa-5x m-auto text-info"></i>
            </div>
            <h3>服務最熱誠</h3>
            <p class="lead mb-0">不管時間地點我們一定儘速完成交易</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 願景 -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://i.imgur.com/W8tb0xC.jpg');">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>將家中不需要的中古機車交給我們</h2>
          <p class="lead mb-0 font-weight-bold">您是否家中有買了以後極少使用的摩托車呢？或是每次緊急的時候總是在路邊顧路的二手機車呢？每次想起它的存在總是在七月繳納燃料稅時，或是中古機車排氣檢定時呢？馬上聯絡我們，把您不要的中古摩托車輕而易舉地變成白花花的現金。</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://i.imgur.com/W8tb0xC.jpg');">
        </div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>讓人放心的專業團隊</h2>
          <p class="lead mb-0 font-weight-bold">貳輪嶼中古機車，有著十多年的專業收購和販賣二手機車經驗，整個團隊都受過專業的職業訓練，對於二手摩托車不管是價格或是機車車況皆擁有極為專業的知識和了解，故不需要擔心把車交給我們會被佔便宜。</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://i.imgur.com/W8tb0xC.jpg');">
        </div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>貳輪嶼高雄店的服務範圍</h2>
          <p class="lead mb-0 font-weight-bold">高雄店的服務範圍包含台南、高雄、嘉義、屏東等地區；並且收購機車車種除了，光陽(KYMCO)、三陽(SYM)、山葉(YAMAHA)、宏佳騰(AEON)、PGO、台鈴(SUZUKI)、哈特佛(HARTFORD)等，重型機車、偉士牌和GOGORO也都有收購。</p>
        </div>
      </div>
    </div>
  </section>

  <!-- 收購流程 -->
  <section class="service-section text-white text-center" id="services">
    <div class="container">
      <div class="service-section-heading">
        <h3 class="mb-0">收購流程</h3>
        <h2 class="mb-5">中古二手機車和重型機車</h2>
      </div>
      <div class="row justify-content-center text-primary">
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3 text-info">
            <i class="fas fa-comments"></i>
          </span>
          <h4>
            <strong>1.線上諮詢</strong>
          </h4>
          <p class="text-faded mb-0">提供機車款式、年份、和照片，即可馬上提供線上快速估價。</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3 text-info">
            <i class="far fa-clock"></i>
          </span>
          <h4>
            <strong>2.約定交易</strong>
          </h4>
          <p class="text-faded mb-0">價格滿意，就可以約定時間和地點交車。</p>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3 text-info">
            <i class="far fa-copy"></i>
          </span>
          <h4>
            <strong>3.備妥資料</strong>
          </h4>
          <p class="text-faded mb-0">請準備好行照＋保險卡＋身份證影本。</p>
        </div>
        <div class="col-lg-2 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3 text-info">
            <i class="fas fa-comments-dollar"></i>
          </span>
          <h4>
            <strong>4.現場估價</strong>
          </h4>
          <p class="text-faded mb-0">現場確認沒問題後，簽訂買賣合約後，我們便會將三成訂金交付給您。</p>
        </div>
        <div class="col-lg-2 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3 text-info">
            <i class="far fa-save"></i>
          </span>
          <h4>
            <strong>5.過戶流程</strong>
          </h4>
          <p class="text-faded mb-0">接下來的過戶流程都會由我們辦理到好，並於完成過戶後將尾款交付給您。</p>
        </div>
      </div>
    </div>
  </section>

  <!-- 服務團隊 -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">服務團隊</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://i.imgur.com/64fH3Qwb.jpg" alt="台中店長">
            <h5>台中店 小林</h5>
            <p class="font-weight-light mb-0">"擁有十多年的專業中古機車和中古重型機車買賣經驗，提供您最專業的服務。"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://i.imgur.com/hdE2UC2b.jpg" alt="高雄店長">
            <h5>高雄店 阿隆</h5>
            <p class="font-weight-light mb-0">"用最熱情的態度，來服務台南、高雄、嘉義、屏東的客人們。"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="https://i.imgur.com/xIFhTL0b.jpg" alt="台北店長">
            <h5>台北店 阿峻</h5>
            <p class="font-weight-light mb-0">"熱忱和專業來服務於二手機車和二手大型重型機車有需求的客戶。"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 服務項目 -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">服務項目</h3>
        <h2 class="mb-5">貳輪嶼高雄店提供服務</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>收購中古機車</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/Hkrpdx1.jpg" alt="二手機車收購估價">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>收購二手重機</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/XzXqD7g.jpg" alt="重型機車黃牌、紅牌估價收購">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>機車道路救援</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/eJB3AMql.jpg" alt="機車道路救援">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>GOGORO電動車收購</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/BnZatwfl.jpg" alt="GOGORO電動車估價收購">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>偉士牌專業收購</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/zndM0aal.jpg" alt="偉士牌Vespa收購估價">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>機車報廢</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="https://i.imgur.com/p1r2cqG.jpg" alt="協助機車報廢">
          </a>
        </div>
      </div>
    </div>
  </section>


  <!-- Call to Action -->
  <section class="call-to-action text-dark text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">還在等什麼呢？馬上聯絡我們賣車吧！</h2>
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-lg-3 col-xs-4">
          <a id="linebtn" type="submit" class="btn btn-block btn-lg" href="contact_ks" >馬上聯絡!</a>
      </div>
      </div>
    </div>
  </section>

  <!-- Scroll to Top Button-->
<div class="goTop">
  <i class="fas fa-chevron-up"></i>
</div>

  <!-- Google Map -->
  <section>
    <div class="row" id="map">
      <div class="col-12">
      </div>
    </div>
  </section>



  <script>
        function initMap() {
          var uluru = {lat: 22.608875, lng: 120.337773};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
        }
      </script>
      <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrDH4440GJiFyJYiDboAgsdjlTaVXBEEw&callback=initMap">
      </script>
      <script>
        (function($) {
        "use strict"; // Start of use strict

        // Closes the sidebar menu
        $(".menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
          $(".menu-toggle > .fa-bars, .menu-toggle > .fa-times").toggleClass("fa-bars fa-times");
          $(this).toggleClass("active");
        });


      </script>
