<section class="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="mt-0">關於我們</h2>
        <hr class="divider light my-4">
        <p class=" mb-4">&nbsp我們是一群對中古二手機車充滿熱情的年輕人，從幫忙身邊同學尋找二手機車慢慢開始創業，從2009年開始逐漸累積經驗，並且從台北一間店面，逐步到現在台北四間店面台中兩間店面，和新開張的高雄店；所接觸的領域，也從最早只有二手機車，到現在不管是紅牌重機、黃牌重機等等大型重型機車或是偉士牌，甚至現在的GOGORO電動車都有著專業的估價和收購知識；貳輪嶼中古車行的目標只有一個，就是讓客戶能在我們這裡得到最好的服務體驗。</p>
        <p class=" mb-4">&nbsp我們期許到我們這裡，估價賣車的客人能夠獲得比一般車商要高的價格，買車的人則能更省錢的找到價格和車況相符的摩托車。</p>
        <p class=" mb-4">&nbsp在過去幾年，超過3000位客戶透過我們貳輪嶼二手機車服務，幫助販售他們的二手機車，如果您剛好近期有賣車的打算，都可以直接向我們詢問或是免費體驗我們的二手機車分析服務，不管最後有沒有成交，都請相信我們能給您一個最舒服的售車體驗。</p>
      </div>
    </div>
  </div>
</section>
