<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-2">
        <div class="row">
          <div class="col-md-4 col-xs-4 ">
            <h4>服務項目</h4>
            <ul class="list-unstyled">
              <li>收購二手機車</li>
              <li>中古機車線上估價</li>
              <li><a href="http://class.ruten.com.tw/user/index00.php?s=htdamon" target="_blank">買二手機車</a></li>
              <li><a href="https://www.facebook.com/%E5%8F%B0%E5%8C%97%E6%A9%9F%E8%BB%8A%E9%BB%83%E7%89%9B%E8%A2%AB%E9%96%8B%E9%A9%97%E8%BB%8A%E5%96%AE%E6%80%8E%E9%BA%BC%E9%81%8E%E6%88%B6%E5%B0%88%E6%A5%AD%E4%BB%A3%E8%BE%A6%E6%94%B9%E8%A3%9D%E6%A9%9F%E8%BB%8A%E9%A9%97%E8%BB%8A-544089142287945/" target="_blank">驗車黃牛</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-4">
            <h4>服務項目</h4>
            <ul class="list-unstyled">
              <li>機車報廢</li>
              <li><a href="https://towingnet.com.tw/" target="_blank">道路救援</a></li>
              <li><a href="https://tpcmv.thb.gov.tw/FAQCategoryListC003530.aspx#" target="_blank">監理站連結</a></li>
              <li>重機收購</li>
              <li><a href="privacy_policy">隱私政策</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-xs-4">
            <h4>聯絡我們</h4>
            <ul class="list-unstyled">
              <li><a href="https://lin.ee/gwqL36M">LINE</a></li>
              <li><a href="tel:+886-966-747-014">聯絡電話</a></li>
              <li><a href="https://www.facebook.com/twomotorislandKaohsiung/" target="_blank">臉書粉專</a></li>
            </ul>
          </div>
        </div>
        <div class="rights">
          <div class="row">
            <div class="col-12">
              <div class="col-lg-6 col-sm-12">
                <h4><img src="https://i.imgur.com/4drrrKSb.jpg" alt="貳輪嶼二手機車行">貳輪嶼二手機車行</h4>
              </div>
              <div class="col-lg-6 col-sm-12">
              <p>Copyright ©2020 貳輪嶼</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>
