<!-- 導覽列 -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="navbar-brand">
    <h1><img src="https://i.imgur.com/PVHP7pKs.jpg" alt="貳輪嶼高雄店">貳輪嶼二手機車行</h1>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="welcome">首頁 <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="buy">收購流程</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          服務項目
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">中古機車收購</a>
          <a class="dropdown-item" href="#">重機各車種收購</a>
          <a class="dropdown-item" href="#">機車道路救援</a>
          <a class="dropdown-item" href="#">檔車各車種收購</a>
          <a class="dropdown-item" href="#">Gogoro收購</a>
          <a class="dropdown-item" href="#">偉士牌收購</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">關於我們</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          聯絡我們
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="contact_ks">高雄</a>
          <a class="dropdown-item" href="contact_tc">台中</a>
          <a class="dropdown-item" href="contact_tp">台北</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
